<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="headingFont" align="center">
                <%= headline %>
            </p>
        </div>
    </div>
</div>
