<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/menu.ejs %>
        <br/><br/><br/>
        <% include partials/headline.ejs %>
            <br/>
            <div class="container">
                <div class="row">
                    <% for(var i=1;i<=numberOfImages;i++) {%>
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <img src="/images/<%=city%>/<%=city%>-<%=i%>.jpg" />
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>
            <% include partials/jsIncludes.ejs %>
</body>

</html>
